<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
                <Link Rel="SHORTCUT ICON" href="../static/images/title1.jpg">
	<title>Shape &mdash; 林韩秋的介绍系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<div id="fh5co-logo"><a href="index.html">Shape<span>.</span></a></div>
				</div>
				<div class="col-xs-12 text-center menu-1">
					<ul>
						<li><a href={{ url_for("home.home_index") }}>Home</a></li>
						<li class="has-dropdown">
							<a href={{ url_for("services.services_index") }}>Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Robot 网页机器人</a></li>
								<li><a href="#">Demo Show 渣渣原型，新手可进</a></li>
								<li><a href="#">Join PSC 加入我们</a></li>
								<li><a href="#">搜索来的API</a></li>
							</ul>
						</li>

						<li><a href={{ url_for("work.work_index") }}>Work</a></li>
						<li class="active"><a href={{ url_for("about.about_index") }}>About</a></li>
						<li><a href={{ url_for("blog.blog_index") }}>Blog</a></li>
						<li><a href={{ url_for("contact.contact_index") }}>Contact</a></li>
                        <li><a href={{ url_for("auth.logout_index") }}>Logout</a></li>

					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../static/images/bg.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">About Me</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	

	<div id="fh5co-about">
		<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Know Me</span>
						<h2>林韩秋</h2>
						<p>湖南湘潭大学2017届毕业生，本科学习的是信息管理与信息系统专业，主修计算机基础、数据库基础、计算机网络基础、数据结构、软件工程。</p>
					</div>
				</div>
				<div class="row row-pb-md animate-box">
					<div class="col-md-6 col-md-push-6">
						
						<div class="desc">
							<h3>自我能力评价</h3>
							<ul>
                                <li>1.自身对互联网保持高度的敏感性和关注度,熟悉软件开发流程,专研能力强,具备较强的沟通协作能力,有较强的团队合作精神和敬业精神；</li>
                                <li>2.熟悉git 、jenkins操作,能使用git 进行版本控制的合作以及jenkins快速迭代开发;</li>
                                <li>3.熟悉DBMS、RDBMS数据库,有过亿万级数据库的管理、操作经验;</li>
                                <li>4.熟悉pyt hon2、3、ruby等开发语言,了解常用开源框架(Flask、Scrapy、Twist ed、aioht t p)使用;</li>
                                <li>5.熟悉常用的数据结构、排序算法等;</li>
                                <li>6.对于数据库以及服务器集群、缓存、负载均衡等分布式系统架构有所了解;</li>
                                <li>7.对于爬虫技术有所了解。</li>
                                <li>8.喜欢开源项目,正在建立Python开源项目的项目组PSC;</li>
                            </ul>
							<p></p>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="../static/images/black.jpg" alt="about">
					</div>
					
				</div>
			
		</div>
	</div>

	<div id="fh5co-team" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>工作经历</span>
					<h2>实习以及正式</h2>
					<p>包括两家实习公司以及一家最近离职的公司</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../static/images/quanshi.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>北京全时云商务有限公司（2016.7-2016.8）</h3>
						<strong class="role">Linux系统运维实习生</strong>
                        <ul>
                            <li>
                                1.负责Linux/Unix平台下服务器的规划、使用、维护;
                            </li>
                            <li>
                                2.配合建设自动化运维系统、研发小型管理工具;
                            </li>
                            <li>
                                3.全方位的系统、网络性能监控、优化;
                            </li>
                            <li>
                                4 .参与Hadoop相关项目的环境配置和实施工作。
                            </li>
                        </ul>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../static/images/jinshanyun.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>北京金山云科技有限公司（2016.9-2017.3）</h3>
						<strong class="role">Python服务器开发实习生</strong>
                        <ul>
                            <li>
                                1、负责编写金山企业云网盘的需求文档和用户体验文档;
                            </li>
                            <li>
                                2、使用pyt hon搭建Web服务器日志分析处理系统,并可视化界面展示;
                            </li>
                            <li>
                                3、配置金山企业云网盘一体机产品配置;
                            </li>
                            <li>
                                4 、负责金山企业云网盘控制台功能开发工作。
                            </li>
                        </ul>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="../static/images/youliwang.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>北京有利网</h3>
						<strong class="role">Python安全开发工程师</strong>
                        <ul>
                            <li>
                                1、独立开发腾讯企业邮件日志记录分析系统;
                            </li>
                            <li>
                                2、参与“快闪现金”风控系统的开发;
                            </li>
                            <li>
                                3、有利网数据库数据存储转换脚本的开发;
                            </li>
                            <li>
                                4 、搭建git hub爬虫,实时检测资料外泄;
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>项目经验</span>
					<h2>个人以及公司项目</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;有利网任职期间,开发的基于aioht t p、pyt hon3开发的有利网-“快闪现金”项目的风控系统模块,模块主要功能为可视化管理风控组的特征变量以及flag,加速风控规则的上线时间和运行稳定性;.&rdquo;</p>
							<p class="author"> <img src="../static/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 有利网-快闪现金风控系统开发</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;有利网任职期间,开发的基于flask框架、celery队列框架、NLTK数分处理模块搭建的日志记录分析系统,提供风险ip报告、异常邮件源分析等功能;.&rdquo;</p>
							<p class="author"><img src="../static/images/person2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 有利网-企业邮件日志记录系统开发</cite></p>
						</blockquote>
					</div>
				</div>

				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;金山网盘任职期间,开发的基于flask系统的非实时分析nginx服务集群日志系统;金山网盘任职期间,开发的基于flask和py脚本实时分析网盘服务器状况的运维监控系统;.&rdquo;</p>
							<p class="author"><img src="../static/images/person3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 金山云-企业网盘运维记录系统开发</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;个人毕设项目,基于scrapy框架、redis集群作缓存队列框架、mongodb集群作底层存储开发的爬虫模块结合jieba、sklearn、NLTK进行数据处理、分析的全套实时新闻处理系统.&rdquo;</p>
							<p class="author"><img src="../static/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 个人项目-新闻爬虫系统开发</cite></p>
						</blockquote>
					</div>
				</div>
                <div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;个人日常项目，基于scrapy框架，结合redis、mongodb作处理存储，并开发了大量的download中间件用以应对反爬机制.&rdquo;</p>
							<p class="author"><img src="../static/images/person3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 个人项目-分布式爬虫系统开发</cite></p>
						</blockquote>
					</div>

					<div class="testimonial">
						<blockquote>
							<p>&ldquo;个人日常项目，基于flask框架，使用redis记录用户状态以及在线情况，开发了权限管理模块，类似于segmentfault的标签类论坛管理网站.&rdquo;</p>
							<p class="author"><img src="../static/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 个人项目-多功能论坛系统开发</cite></p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget ">
					<h3>Shape.</h3>
					<p>Shape yourself, and I believe that everyone will have the same idea. From now on, define yourself and shape yourself.</p>
					<p><a href="#">Learn More</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="https://pan.baidu.com/s/1mi9R8vu">百度网盘学习资料</a></li>
						<li><a href="http://www.jianshu.com/u/e9fdf09df277">简书链接</a></li>
						<li><a href="http://blog.csdn.net/maliao1123">CSDN博客</a></li>
						<li><a href="https://github.com/linhanqiuinc24">个人github</a></li>
						<li><a href="https://github.com/PythonScientists">PSCgithub</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Shape. All Rights Reserved.</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- countTo -->
	<script src="../static/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

